<!-- content.twig -->
<article id="post-{{post.ID}}" {{function('post_class')}}>
	<header class="entry-header">
    {% block entry_header %}
		<h2 class="entry-title"><a href="{{ post.link }}" rel="bookmark">{{ post.title }}</a></h2>
    {% endblock %}
	</header><!-- .entry-header -->

  {% if post.thumbnail.src %}
    <div class="post-thumbnail">
      <a href="{{ post.link }}" rel="bookmark"><img src="{{post.thumbnail.src|resize('medium')}}" alt="{{ __( 'Image for %s', 'simple-grey')|format(post.title) }}" /></a>
    </div><!-- .post-thumbnail -->
	{% endif %}

  {% block content %}
	<div class="entry-content">
    {{post.content}}
	</div><!-- .entry-content -->
  {% endblock %}

  {% block entry_meta %}
    {% set time_posted = __( '<time class="entry-date published" datetime="%1$s">%2$s</time>', 'simple-grey')|format(post.post_date|date("c"), post.post_date|date) %}
    {% set time_modified = __( '<time class="updated" datetime="%1$s">%2$s</time>', 'simple-grey')|format(post.post_modified|date("c"), post.post_modified|date) %}
    {% set author_posted = __( '<a class="author vcard" href="%1$s">%2$s</a>', 'simple-grey')|format( post.author.link, post.author.name ) %}
    {% set author_modified = __( '<a class="author vcard" href="%1$s">%2$s</a>', 'simple-grey')|format( post.modified_author.link, post.modified_author.name ) %}

	<footer class="entry-meta">
    <span class="posted-on">
    {{ __( 'Posted on %1$s by %2$s', 'simple-grey' )|format( time_posted, author_posted ) }}
    {% if post.terms %}
      <span class="post-taxonomy">
        {% if post.terms('category') %} in
        {% for term in post.terms('category') %}
          <a href="{{term.link}}" rel="tag">{{term.name}}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
        {% endif %}
        {% if post.terms('category') and post.terms('tags') %} and {% endif %}
        {% if post.terms('tags') %} tagged {% endif %}
        {% for term in post.terms('tags') %}
          <a href="{{term.link}}" rel="tag">{{term.name}}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
      </span>
      {% endif %}
    </span>

    {% if post.post_modified != post.post_date  %}
    <span class="post-updated">{{ __( 'Last updated on %1$s by %2$s', 'simple-grey' )|format( time_modified, author_modified ) }}</span>
    {% endif %}

    {% if post.can_edit %}
    <span class="edit-link"><a href="{{post.edit_link}}" class="post-edit-link">{{__( 'Edit', 'simple-grey' )}}</a></span>
    {% endif %}
	</footer><!-- .entry-meta -->
  {% endblock %}
</article><!-- #post-## -->
