{% extends "content.twig" %}

{% block entry_header %}
<h1 class="entry-title"><a href="{{ post.link }}" rel="bookmark">{{ post.title }}</a></h1>
{% endblock %}

{% block featured_image %}
<div class="post-thumbnail">
  <a href="{{ post.link }}" rel="bookmark"><img src="{{post.thumbnail.src|resize('large')}}" alt="{{ __( 'Image for %s', 'simple-grey')|format(post.title) }}" /></a>
</div><!-- .post-thumbnail -->
{% endblock %}

{% block entry_meta %}
  {% set time_posted = __( '<time class="entry-date published" datetime="%1$s">%2$s</time>', 'simple-grey')|format(post.post_date|date("c"), post.post_date|date) %}
  {% set time_modified = __( '<time class="updated" datetime="%1$s">%2$s</time>', 'simple-grey')|format(post.post_modified|date("c"), post.post_modified|date) %}
  {% set author_posted = __( '<a class="author vcard" href="%1$s">%2$s</a>', 'simple-grey')|format( post.author.link, post.author.name ) %}
  {% set author_modified = __( '<a class="author vcard" href="%1$s">%2$s</a>', 'simple-grey')|format( post.modified_author.link, post.modified_author.name ) %}

<footer class="entry-meta">
  {% if post.can_edit %}
  <span class="edit-link"><a href="{{post.edit_link}}" class="post-edit-link">{{__( 'Edit', 'simple-grey' )}}</a></span>
  {% endif %}
</footer><!-- .entry-meta -->
{% endblock %}
