{% extends "content.twig" %}

{% block entry_header %}
<h1 class="entry-title"><a href="{{ post.link }}" rel="bookmark">{{ post.title }}</a></h1>
{% endblock %}

{% block featured_image %}
<div class="post-thumbnail">
  <a href="{{ post.link }}" rel="bookmark"><img src="{{post.thumbnail.src|resize('large')}}" alt="{{ __( 'Image for %s', 'simple-grey')|format(post.title) }}" /></a>
</div><!-- .post-thumbnail -->
{% endblock %}

{% block content %}
{{function('the_meta')}}
<div class="entry-content">
	{{post.content}}
</div><!-- .entry-content -->
{% endblock %}
